@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Secular+One&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/usesr-component.css";
@import "components/icon-row.css";
@import "components/nav-bar.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chat-peach.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

html,
body {
  min-width: 320px;
  background-color: var(--main-color);
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
}

.main-screen {
  padding: 73px var(--horizontal-space) 62.25px;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.chatty-font {
  font-family: "Secular One", sans-serif;
}

#mobile-size {
  display: none;
}

@media screen and (min-width: 768px) {
  #mobile-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: var(--main-dark-color);
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
  }

  #mobile-size .mobile-size__emoticon {
    font-size: 15rem;
    margin-bottom: 50px;
  }
}
