:root {
  --main-dark-color: #0e1621;
  --main-color: #161e29;
  --sub-color: #222e3e;
  --point-color: #7041ff;
  --notification-color: #e11415;
  --divider: 1px solid rgba(0, 0, 0, 0.5);
  --horizontal-space: 20px;
}
