.icon-row {
  display: flex;
  padding: 15px 0;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 10px 0;
  font-size: 1.4rem;
  cursor: pointer;
}

.icon-row__icon i {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
