.nav-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px var(--horizontal-space);
  background-color: var(--sub-color);
}

.nav-bar__list {
  display: flex;
  align-items: center;
}

.nav-bar__btn {
  width: 25%;
  font-size: 3rem;
  text-align: center;
}

.nav__link {
  display: block;
}
