.nav-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px var(--horizontal-space);
  background-color: var(--sub-color);
}

.nav-bar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
}

.nav-bar__link {
  display: block;
  position: relative;
}

.nav-bar__notification {
  position: absolute;
  top: -5px;
  right: -10px;
}

.nav-bar__notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
}
